<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>
  <aws profileName="scottvaughan"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="ServiceUrl" value="http://sqs.eu-west-1.amazonaws.com" />
    <add key="QueueOwnerAccountId" value="042040904686" />
    <add key="MailerQueueName" value="springboard-mailer-queue" />
    <add key="SMTP_FROM_ADDRESS" value="technical@spring-board.info" />
    <add key="SMTP_SERVER" value="email-smtp.eu-west-1.amazonaws.com" />
    <add key="SMTP_PORT" value="587" />
  </appSettings>
</configuration>